<ul class="card-list" altr-if="waiting">
  <li>
  <h3>Waiting for location...</h3>
  </li>
</ul>
<ul class="card-list" altr-for="line in lines" rel="line-arrival">
  <li altr-if="line.outbound.arrivals.0 || line.inbound.arrivals.0">
    <h4>{{ line.route.desc }}</h4>
    <ul>
      <li altr-if="line.outbound.arrivals.0">
        {{ line.outbound.desc }}: {{ remaining(line.outbound.arrivals.0.estimated || line.outbound.arrivals.0.scheduled) }} minutes
      </li>
      <li altr-if="line.inbound.arrivals.0">
        {{ line.inbound.desc }}: {{ remaining(line.inbound.arrivals.0.estimated || line.inbound.arrivals.0.scheduled) }} minutes
      </li>
    </ul>
  </li>
</ul>
