<section rel="details" class="off-right">
  <ul class="card-list" altr-for="arrival in data.arrivals">
    <li>
      <div class="header" altr-if="arrival_type(arrival) === 'bus'">
        <span class="bus-line-header">
          {{ arrival.route }}
        </span>
        <span class="line-description">
          {{ split(format_line(arrival.fullSign), ' to ')[0] }}
        </span>
      </div>
      <div class="header" altr-if="arrival_type(arrival) !== 'bus'">
        <span class="rail-line-header {{ color(arrival.route) }}">
          {{ split(arrival.fullSign, ' to ')[0] }}
        </span>
      </div>
      <ul class="arrival-list">
        <li class="arrival-line">
          <div class="arrival-direction">
            <span>
              Scheduled: {{ time(arrival.scheduled) }}
            </span>
             <span>
              Estimated: {{ arrival.estimated ? time(arrival.estimated) : 'Not Avaiable' }}
            </span>
            <span>
              In Congestion: {{ arrival.inCongestion }}
            </span>
            <span>
              Departed: {{ arrival.departed }}
            </span>
            <span>
              Detoured: {{ arrival.detoured }}
            </span>
          </div>
          <div class="arrival-time" altr-html="remaining(arrival, data.time)">
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
