* {
  box-sizing: border-box;
}

html, body {
  background-color: #00bcd4;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.86);
  font-weight: 300;
}

.sidebar {
  width: 80%;
  max-width: 400px;
  z-index: 400;
  position: absolute;
  top: 40px;
  bottom: 0;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.258824) 5px 0px 5px 0px;
  left: 0;
  transition: left .2s;
}

.sidebar.hidden {
  left: -80%;
  box-shadow: none;
}

header {
  position: absolute;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #ff9800;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  color: #fff3e0;
  z-index: 500;
  overflow: hidden;
}

header .title-stack {
  position: absolute;
  transition: left .4s;
  margin: 0;
  padding: 0;
  font-size: 0;
}

header .title-stack > div {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

header h1 {
  font-size: 18px;
  position: absolute;
  display: inline;
  font-weight: 400;
  margin: 8px 20px;
}

header svg.menu, header svg.pop {
  fill: #fff3e0;
  opacity: 1;
  width: 30px;
  height: 30px;
  margin: 5px 10px;
  stroke-width: .5;
}

div[rel=main] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

div[rel=main] > section {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: margin .4s, opacity .4s;
  z-index: 100;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 40px;
}

div[rel=main] > section.off-left {
  margin-left: -100%;
  opacity: 0;
  z-index: 0;
  overflow: hidden;
}

div[rel=main] > section.off-right {
  margin-left: 100%;
  opacity: 0;
  z-index: 0;
  overflow: hidden;
}

ul.card-list {
  max-width: 500px;
  width: 95%;
  margin: auto;
  list-style: none;
  padding: 0;
}

ul.card-list > li {
  background: white;
  margin: 5px 0;
  padding: 0 0 5px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.46);
}


/*
  Arrival cards
*/
.card-list .header {
  margin: 0 0 10px 0;
  padding: 0;
  padding: 0 15px;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.card-list .header .bus-line-header {
  color:  #03a9f4;
  font-size: 32px;
  font-weight: 700;
  margin-right: 20px;
  text-shadow: rgba(0, 0, 0, 0.46) 0 2px 2px;
}

.card-list .header .rail-line-header {
  padding-top: 10px;
  font-size: 22px;
  font-weight: 700;
  margin-right: 20px;
  display: inline-block;
  text-shadow: rgba(0, 0, 0, 0.46) 0 1px 1px;
}

.arrival-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}


.arrival-list .arrival-direction {
  display: inline-block;
  max-width: 70%;
  color: rgba(0, 0, 0, .74);
  font-size: 12px;
  font-weight: 500;
  padding: 0 5px 10px 15px;
}


.arrival-list .arrival-direction span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrival-list .arrival-time {
  position: absolute;
  display: inline-block;
  max-width: 30%;
  right: 0;
  padding-right: 10px;
}

.arrival-list .arrival-time .time {
  font-size: 24px;
  margin-right: 5px;
  line-height: 34px;
}

.arrival-list .arrival-direction > span {
  display: block;
}

.red {
  color:  #e51c23;
}

.blue {
  color:  #5677fc;
}

.yellow {
  color:  #ffeb3b;
}

.teal {
  color:  #009688;
}

.lime {
  color:  #8bc34a;
}

.green {
  color:  #259b24;
}

.orange {
  color:  #fd8105;
}
